<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>University Grade View</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="index.css" rel="stylesheet">

    <script src="/js/echarts.js"></script>
</head>
<body>

<!--顶部导航栏-->
<top-nav-bar-component title="分数线"></top-nav-bar-component>

<div id="app">
    <div class="grade-chart-outer section-box">
        <span>平均分</span>
        <div class="grade-chart-container" id="grade-average-chart"></div>
    </div>

    <div class="grade-chart-outer section-box">
        <span>最高分</span>
        <div class="grade-chart-container" id="grade-max-chart"></div>
    </div>

    <div class="grade-chart-outer section-box">
        <span>最低分</span>
        <div class="grade-chart-container" id="grade-min-chart"></div>
    </div>
</div>

</body>
<script src="index.js" type="module"></script>
</html>
