<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../../static/css/User.css"/>
	</head>
	<body>
		<header>
			<div id="user_msg_box">
				<div id="user_msg">
					<div id="msg_img">
						<img src="" alt="" />
					</div>
					<div id="user_nickname">
						<h3>昵称</h3>
						<p>北京大学 <span>马克思主义哲学</span></p>
					</div>
					<div id="more">
						<span>>></span>
					</div>
				</div>
				<div id="active">
					
						<div>
						<span id="">2</span>
						<p>帖子</p>
					</div>
					<div>
						<span>3</span>
						<p>回复</p>
					</div>
					<div>
						<span>12</span>
						<p>收藏</p>
					</div>
					<div>
						<sapn>11.2h</sapn>
						<p>学习时长</p>
					</div>
					
					
				</div>
			</div>

			<div id="bottom_1"></div>
			<div id="bottom_2"></div>
		</header>
		<section>
			<div id="service">
				<h3>我的服务</h3>
				<div id="service_box"></div>
			</div>
			
			<div id="more_tool">
				<h3>更多工具</h3>
				<div id="more_tool_box"></div>
			</div>
			
			<div id="more_tools">
				更多东西
			</div>
		</section>
	</body>
</html>
