img {
    width: 100%;
    height: 100%;
}

.bottom-nav {
    width: 350px;
    height: 50px;
    background-color: whitesmoke;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px dashed #1AA093;
    border-radius: 10px;
    position: fixed;
    bottom: 0;
    left: 15px;
    box-shadow: none;
}

.bottom-nav:hover {
    box-shadow: 1px 2px 3px #00a65a;
}

.bottom-nav-item,
.bottom-nav-item--selected {
    height: 50px;
    width: 50px;
    border: 1px;
    border-radius: 100%;
    /*padding: 5px;*/
}

.bottom-nav-item a {
    height: 50px;
    width: 50px;
    text-decoration: none;
}

.bottom-nav-item--selected a {
    box-sizing: border-box;
    height: 50px;
    width: 50px;
    text-decoration: none;
}

.bottom-nav-item--selected {
    /*border: 1px solid #1AA093;*/
    /*color: #00a65a;*/
}
