<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TopNav</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
</head>
<body>
<div id="top-nav" class="top-nav">
    <!--返回按钮-->
    <div class="top-nav__icon-wrapper">
        <img src="img/arrow-left-bold.png">
    </div>
    <!--标题-->
    <div class="top-nav__title-wrapper">
        标题
    </div>
    <!--分享按钮-->
    <div class="top-nav__icon-wrapper">
        <img src="img/share.png">
    </div>
</div>
<script src="index.js"></script>
</body>
</html>
