<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>选择学校</title>
    <link rel="stylesheet" href="index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="index.js"></script>
</head>
<body>
<div id="root">
    <!--顶部导航栏-->
    <top-nav-bar-component title="根据地区选择院校"></top-nav-bar-component>

    <div class="list-wrapper container list-outer">
        <div class="list-inner">
            <ol class="city-list" id="city-list">
            </ol>
        </div>
    </div>
</div>
</body>
<script src="index.js" type="module"></script>
</html>
