<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>院校管理</title>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="/static/css/university.css">

    <link rel="stylesheet" href="/static/css/font.css">
    <link rel="stylesheet" href="/static/css/xadmin.css">
    <script src="/static/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/js/xadmin.js"></script>
    <script src="https://cdn.bootcss.com/vue/2.5.16/vue.min.js"></script>
</head>
<body>
<div id="app">
    <div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">演示</a>
        <a>
          <cite>导航元素</cite></a>
      </span>
        <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
           href="javascript:location.replace(location.href);" title="刷新">
            <i class="layui-icon" style="line-height:30px">ဂ</i></a>
    </div>
    <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so">
            <input class="layui-input" placeholder="开始日" name="start" id="start">
            <input class="layui-input" placeholder="截止日" name="end" id="end">
            <input type="text" name="username" placeholder="请输入用户名" autocomplete="off" class="layui-input">
            <button class="layui-btn" lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
        </form>
    </div>
    <xblock>
        <button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon"></i>批量删除</button>
        <button class="layui-btn"
                onclick="x_admin_show('Add_Book','${pageContext.request.contextPath}/admin/index?m=addBookView')"><i
                class="layui-icon"></i>添加
        </button>
        <span class="x-right" style="line-height:40px">共有数据：{{ count }} 条</span>
    </xblock>
    <table class="layui-table">
        <thead>
        <tr>
            <th>
                <div>
                    <input type="checkbox" :input="checkAll(isAllChecked)" :value="isAllChecked">
                </div>
            </th>
            <th v-for="th in ths">{{ th }}</th>
            <th>详情</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(item,index) in universities" v-if="universities != null && universities.length != 0">
            <td>
                <div>
                    <input type="checkbox" name="idList" @click="addId(index)">
                </div>
            </td>
            <td>{{ item.id }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.isYJSY }}</td>
            <td>{{ item.isZHX }}</td>
            <td>
                <button @click="showDetail(item)">详情按钮</button>
            </td>
        </tr>
        <div v-else>
            暂无数据
        </div>
        </tbody>
    </table>
    <div :class="detailModalClass">
        <div>
            <!--数据区-->
            <div v-if="curItem != null">
                <div>
                    <label>{{ cols[0] }}</label>
                    <p>{{ curItem.id }}</p>
                </div>
                <div>
                    <label>{{ cols[1] }}</label>
                    <p>{{ curItem.name }}</p>
                </div>
            </div>
            <div v-else>
                未选中数据 😢
            </div>
            <!--按钮区-->
            <div>
                <button @click="hideDetail">关闭</button>
                <!--                <button @click="modified(curItem)">保存</button>-->
            </div>
        </div>
    </div>
    <!--分页条-->
    <div class="page">
        <div>
            <!--上一页-->
            <a class="prev" href="#"
               @click="fetchUniversityPage(pageBar.prePageIndex, 5)" :style="">&lt;&lt;</a>
            <!--显示的分页索引-->
            <a v-for="item in pageBar.declaredIndexList"
               href="#"
               @click="fetchUniversityPage(item, 5)">
                {{ item }}
            </a>
            <!--下一页-->
            <a class="next" href="#"
               @click="fetchUniversityPage(pageBar.nextPageIndex, 5)" :disabled="pageBar.curPageIndex == 1">&gt;&gt;</a>
        </div>
    </div>
</div>
<script>
    new Vue({
        el: "#app",
        data: function () {
            return {
                count: 100,
                cols: ['uid', '院校名', '是否是研究生院', '是否自划线院校', '排名', '官方网址', '该院校所在城市'],
                pageBar: {},
                universities: [],
                index: 0,
                curItem: {},
                flag: false,
                detailModalClass: {
                    "modal-hide": true,
                    "modal-show": false,
                },
                isAllChecked: false,
                idList: [],
            }
        },
        computed: {
            ths: function () {
                return this.cols.slice(0, 4)
            },
            idList: function () {
                for (let i = 0; i < this.universities.length; i++) {
                    this.idList[i] = false;
                }
            }
        },
        watch: {},
        methods: {
            // to backend methods
            fetchUniversityPage(pageIndex, pageSize) {
                $.ajax({
                    url: '/api/v2.1/university/page?' + "pageIndex=" + pageIndex + "&" + "pageSize=" + pageSize,
                    type: 'GET',
                    dataType: 'json',
                    timeout: 1000,
                    cache: false,
                    beforeSend: LoadFunction1, //加载执行方法
                    error: erryFunction1,  //错误执行方法
                    success: (tt) => {
                        var json = eval(tt); //数组
                        var tt = "";
                        this.universities = json.data.pageContentInfo.data;
                        this.pageBar = json.data.pageBar;
                    }
                })

                function LoadFunction1() {
                    // $("#list3").html('加载中...');
                }

                function erryFunction1() {
                    alert("error");
                }
            },

            // basic javascript methods
            showDetail: function (item) {
                this.curItem = item;
                this.detailModalClass["modal-show"] = true;
                this.detailModalClass["modal-hide"] = false;
            },
            hideDetail: function () {
                this.curItem = null;
                this.detailModalClass["modal-show"] = false;
                this.detailModalClass["modal-hide"] = true;
            },
            checkAll(isAllChecked) {
                console.log(isAllChecked);
            },
            addId(id) {
                this.idList.push()
            },
        },
        created: function () {
            this.fetchUniversityPage(1, 5);
        },
        mounted: function () {

        }
    });
</script>
</body>
<style>
</style>
</html>