<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="index.css" rel="stylesheet">
</head>
<body>
<top-nav-bar-component title="关注"></top-nav-bar-component>
<div id="app">
    <header>
        <div id="university_box">
            <div id="share_msg">
                <div id="grade_box">
                    <div id="grade"></div>
                    <span>分数线</span>
                </div>
                <div>
                    <div id="blb_box"></div>
                    <span>报录比</span>
                </div>
                <div>
                    <div id="ex_box"></div>
                    <span>备考经验</span>
                </div>
                <div>
                    <div id="label_box"></div>
                    <span>Label</span>
                </div>
            </div>
            <div id="university_img">
                <!--<img src="img/12.png"/>-->
                <div id="university_msg">
                    <div id="university_name"><span>{{ university.name }}</span></div>
                    <div id="university_professional"><span>软件工程</span></div>
                </div>
                <div id="university_nature">
                    <p>
                        <span v-if="university.isJBW === 1">985</span>
                        <span v-if="university.isEYY === 1">211</span>
                        <span v-if="university.isZHX === 1">自主划线</span>
                        <span>综合排名{{ university.rank }}</span>
                    </p>
                </div>
            </div>
        </div>
    </header>
    <section>
        <div id="map">
            <!--            <h2>地理位置</h2>
                        <iframe src="https://www.baidu.com/?tn=88093251_34_hao_pg" frameborder="0"></iframe>-->
        </div>
        <div id="College_counseling_box">
            <h2>院校咨询</h2>
            <div id="College_counseling">
                ×
            </div>
        </div>
    </section>
</div>
<bottom-nav-component selectedIndex="0"></bottom-nav-component>
</body>
<script src="index.js" type="module"></script>
</html>
