<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detail Compare</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">

    <!-- including ECharts file -->
    <script src="/js/echarts.js"></script>
</head>
<body>
<!--顶部导航栏-->
<top-nav-bar-component title="院校比较"></top-nav-bar-component>

<!--数据区-->
<div class="compare-detail" id="app">
    <!--头部信息区-->
    <div class="header-outer">
        <header-post-component id="detail-header"></header-post-component>
    </div>

    <!--内容区域-->
    <div class="compare-detail__content-wrapper">
        <!--按钮区(一系列items-实现交互逻辑-控制流)-->
        <div class="content-control segment-outer" id="content-controller">
            <div class="content-control__item--selected">
                <div class="content-control__item-button">
                    <img src="img/icon1.png">
                </div>
                <div class="content-control__item-title">院校实力</div>
            </div>
            <div class="content-control__item">
                <div class="content-control__item-button">
                    <img src="img/icon2.png">
                </div>
                <div class="content-control__item-title">分数线</div>
            </div>
            <div class="content-control__item">
                <div class="content-control__item-button">
                    <img src="img/icon3.png">
                </div>
                <div class="content-control__item-title">竞争力</div>
            </div>
            <div class="content-control__item">
                <div class="content-control__item-button">
                    <img src="img/icon4.png">
                </div>
                <div class="content-control__item-title">考试科目</div>
            </div>
            <div class="content-control__item">
                <div class="content-control__item-button">
                    <img src="img/icon5.png">
                </div>
                <div class="content-control__item-title">研究方向</div>
            </div>
        </div>
        <!--内容区-->
        <div class="content-container-wrapper" id="compare-detail-content">
            <div class="content-container-outer">
                <!--综合比较-->
                <div class="content-container-panel" id="comprehensive-compare">
                    <table>
                        <caption>院校实力比较</caption>

                        <!--表头-->
                        <thead>
                        <template id="university-table-header--empty">
                            <tr>
                                <th colspan="1" scope="col" class="item-th">未选中任何数据</th>
                            </tr>
                        </template>
                        <template id="university-table-header">
                            <tr>
                                <th colspan="1" scope="col" class="item-th"></th>
                                <!--渲染th-->
                            </tr>
                        </template>
                        </thead>

                        <tbody>
                        <!--表内容-->
                        <template id="university-table-data">
                            <tr>
                                <th scope="row" class="item-data"></th>
                            </tr>
                        </template>
                        </tbody>
                    </table>
                </div>
                <!--分数线比较-->
                <div class="content-container-panel" id="grades-compare">
                    <div class="chart-outer">
                        <div class="chart-title">院校成绩对比</div>
                        <div class="grade-chart" id="main">
                        </div>
                    </div>
                </div>
                <div class="content-container-panel"></div>
                <div class="content-container-panel"></div>
                <div class="content-container-panel">
                    暂无信息
                </div>
            </div>
        </div>
    </div>
</div>
<script src="index.js" type="module"></script>
</body>
</html>
