<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detail Compare</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="topNav.css">

    <!-- including ECharts file -->
    <script src="/js/echarts.js"></script>
</head>
<body>

<div id="top-nav" class="top-nav">
    <!--返回按钮-->
    <div class="top-nav__icon-wrapper">
        <img src="img/arrow-left-bold.png">
    </div>
    <!--标题-->
    <div class="top-nav__title-wrapper">
        院校对比
    </div>
    <!--分享按钮-->
    <div class="top-nav__icon-wrapper">
        <img src="img/share.png">
    </div>
</div>
<div class="compare-detail">
    <!--头部信息区-->
    <div class="compare-detail__header-wrapper" id="detail-header">
        <div class="major-name-wrapper">
            <h3>软件工程</h3>
        </div>
        <div class="university-name-wrapper">
            <h3>复旦大学</h3>|<h3>东南大学</h3>
        </div>
        <div class="university-choice-button-wrapper">
            <button>重新选择</button>
        </div>
    </div>

    <!--内容区域-->
    <div class="compare-detail__content-wrapper">
        <!--按钮区(一系列items-实现交互逻辑-控制流)-->
        <div class="content-control segment-outer" id="content-controller">
            <div class="content-control__item--selected">
                <div class="content-control__item-button">
                    <img src="img/icon1.png">
                </div>
                <div class="content-control__item-title">院校实力</div>
            </div>
            <div class="content-control__item">
                <div class="content-control__item-button">
                    <img src="img/icon2.png">
                </div>
                <div class="content-control__item-title">分数线</div>
            </div>
            <div class="content-control__item">
                <div class="content-control__item-button">
                    <img src="img/icon3.png">
                </div>
                <div class="content-control__item-title">竞争力</div>
            </div>
            <div class="content-control__item">
                <div class="content-control__item-button">
                    <img src="img/icon4.png">
                </div>
                <div class="content-control__item-title">考试科目</div>
            </div>
            <div class="content-control__item">
                <div class="content-control__item-button">
                    <img src="img/icon5.png">
                </div>
                <div class="content-control__item-title">研究方向</div>
            </div>
        </div>
        <!--内容区-->
        <div class="content-container-wrapper" id="compare-detail-content">
            <div class="content-container-outer">
                <!--综合比较-->
                <div class="content-container-panel" id="comprehensive-compare">
                    <table>
                        <caption>院校实力比较</caption>

                        <!--表头-->
                        <thead>
                        <template id="university-table-header--empty">
                            <tr>
                                <th colspan="1" scope="col" class="item-th">未选中任何数据</th>
                            </tr>
                        </template>
                        <template id="university-table-header">
                            <tr>
                                <th colspan="1" scope="col" class="item-th"></th>
                            </tr>
                        </template>
                        </thead>

                        <tbody>
                        <!--表内容-->
                        <template id="university-table-data">
                            <tr>
                                <th scope="row" class="item-data"></th>
                            </tr>
                        </template>
                        </tbody>
                    </table>
                </div>
                <!--分数线比较-->
                <div class="content-container-panel" id="grades-compare">
                    <div>
                        <div class="chart-title">title</div>
                        <div class="grade-chart" id="main">
                        </div>
                    </div>
                </div>
                <div class="content-container-panel"></div>
                <div class="content-container-panel"></div>
                <div class="content-container-panel"></div>
                <div class="content-container-panel"></div>
            </div>
        </div>
    </div>
</div>
<script src="/js/view/detail.js" type="module"></script>
</body>
</html>
