<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome Page</title>
    <script src="https://cdn.bootcss.com/vue/2.5.16/vue.min.js"></script>
</head>
<body>
<div id="app">
    Welcome to Yan!
    <div id="bind-attribute">
        {{ message }}
        <span>Hover your mouse over me for a few seconds to see my dynamically bound title!</span>
    </div>
</div>
<script>
    //<![CDATA[
    const app = new Vue({
        el: "#app",
        data() {
            return {
                message: 'You loaded this page on ' + new Date().toLocaleString()
            }
        }
    });
    //]]>
</script>
</body>
</html>