<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="choose.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div id="main-div">
    <div id="banner">
        <p>选择专业及院校</p>
        <p>一键对比看结果</p>
    </div>
    <div id="content-div">
        <div id="select-major-outer-div" class="segment-outer">
            <div id="select-major-title-div" class="title">
                <span>目标专业</span>
            </div>
            <div id="select-major-content">
                <span>软件工程</span>
                <a class="select-major-content__icon" href="">
                    <img src="imgs/fullscreen-expand.png">
                </a>
            </div>
        </div>

        <div id="select-university-outer-div" class="segment-outer">
            <div id="select-university-title-div" class="title">
                <span>目标院校</span>
            </div>
            <div id="university-items-div">
                <div id="item-1" class="university-item--selected">
                    <div class="university-item--selected">
                        <div class="item-content-wrapper">
                            <a class="item-remove" href="#">
                                <div class="item-remove-icon-wrapper">
                                    <img src="imgs/close-bold.png" height="10" width="10">
                                </div>
                            </a>
                            <div class="item-content-img-wrapper">
                                <img src="imgs/avatar.jpg" class="item-content-img">
                            </div>
                        </div>
                        <p class="university-item__name">院校名</p>
                    </div>
                </div>

                <div id="item-2" class="university-item--selected">
                    <div class="university-item--selected">
                        <div class="item-content-wrapper">
                            <a class="item-remove" href="#">
                                <div class="item-remove-icon-wrapper">
                                    <img src="imgs/close-bold.png" height="10" width="10">
                                </div>
                            </a>
                            <div class="item-content-img-wrapper">
                                <img src="imgs/avatar.jpg" class="item-content-img">
                            </div>
                        </div>
                        <p class="university-item__name">院校名</p>
                    </div>
                </div>

                <div id="item-3" class="university-item--selected">
                    <div class="university-item--selected">
                        <div class="item-content-wrapper">
                            <a class="item-remove" href="#">
                                <div class="item-remove-icon-wrapper">
                                    <img src="imgs/close-bold.png" height="10" width="10">
                                </div>
                            </a>
                            <div class="item-content-img-wrapper">
                                <img src="imgs/avatar.jpg" class="item-content-img">
                            </div>
                        </div>
                        <p class="university-item__name">院校名</p>
                    </div>
                </div>
            </div>
        </div>

        <div id="compare-button-div" class="button-outer">
            <button>开始对比</button>
        </div>
    </div>
</div>
</body>
<script src="choose.js"></script>
</html>

