<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="index.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<!--顶部导航栏-->
<top-nav-bar-component title="比较院校"></top-nav-bar-component>

<div id="main-div">
    <div id="banner">
        <p>选择专业及院校</p>
        <p>一键对比看结果</p>
    </div>
    <div id="content-div">
        <div id="select-major-outer-div" class="segment-outer">
            <div id="select-major-title-div" class="title">
                <span>目标专业</span>
            </div>
            <div id="select-major-content">
                <span>软件工程</span>
                <a class="select-major-content__icon" href="/views/select/major/index.html">
                    <img src="imgs/fullscreen-expand.png">
                </a>
            </div>
        </div>

        <div id="select-university-outer-div" class="segment-outer">
            <div id="select-university-title-div" class="title">
                <span>目标院校</span>
            </div>

            <template id="unSelected-button">
                <div class="university-item-outer">
                    <button class="unSelected-button">
                        <img src="imgs/unSelected.png">
                    </button>
                </div>
            </template>

            <div id="university-items-div">
                <div id="item-1" class="university-item--selected">
                    <div class="university-item-outer">
                        <div class="item-content-wrapper">
                            <a class="item-remove" href="#">
                                <div class="item-remove-icon-wrapper">
                                    <img src="imgs/close-bold.png">
                                </div>
                            </a>
                            <div class="item-content-img-wrapper">
                                <img src="/image/university_log/cdlgdx.png" class="item-content-img">
                            </div>
                        </div>
                        <p class="university-item__name">成都理工大学</p>
                    </div>
                </div>

                <div id="item-2" class="university-item--selected">
                    <div class="university-item-outer">
                        <div class="item-content-wrapper">
                            <a class="item-remove" href="#">
                                <div class="item-remove-icon-wrapper">
                                    <img src="imgs/close-bold.png" height="10" width="10">
                                </div>
                            </a>
                            <div class="item-content-img-wrapper">
                                <img src="/image/university_log/dzkjdx.jpeg" class="item-content-img">
                            </div>
                        </div>
                        <p class="university-item__name">电子科技大学</p>
                    </div>
                </div>

                <div id="item-3" class="university-item--selected">
                    <div class="university-item-outer">
                        <a href="/views/select/university/index.html">
                            <button class="unSelected-button">
                                <img src="imgs/unSelected.png">
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div id="compare-button-div" class="button-outer">
            <button>开始对比</button>
        </div>
    </div>
</div>
</body>
<script src="index.js" type="module"></script>
</html>

