<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Article List</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
</head>
<body>
<!--顶部导航栏-->
<top-nav-bar-component title="院校资讯"></top-nav-bar-component>
<div id="app">
    <article-nav-component></article-nav-component>
    <div id="item-list" class="article-item-list"></div>
</div>
<script src="index.js" type="module"></script>
</body>
</html>
