.outer {
    width: 100%;
    min-height: 200px;
}

.container {
    display: block;
    width: 100%;
}

#select-button {
    font-size: 1.1em;
    display: block;
    width: 100px;
    height: 50px;
    margin: 10px auto 0;
}

