
#app {
    width: 375px;
    margin-top: 45px;
}


.section-box {
    border: 1px solid #00a65a;
    border-radius: 30px;
    box-shadow: 4px 4px 4px #ddd;
    background: #fff;
}
.container {
    height: 400px;
}
.input-box {
    width: 90%;
    margin-top: 20px;
    margin-left: 15px;
}

.submit-button {
    display: block;
    margin: 0 auto;
}
