<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>University ex</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
</head>
<body><!--顶部导航栏-->
<top-nav-bar-component title="经验反馈"></top-nav-bar-component>

<div id="app">
    <div class="section-box container">
        <textarea class="input-box" rows="20" cols="20" placeholder="请将您的经验写在这"></textarea>
        <button class="submit-button">提交</button>
    </div>
</div>

<script src="index.js" type="module"></script>
</body>
</html>
