body {
    margin: 0;
}
#app {
    width: 375px;
    margin-top: 45px;
}

.section-box {
    border: 1px solid #00a65a;
    border-radius: 30px;
    box-shadow: 4px 4px 4px #ddd;
    background: #fff;
}

.container-outer {
    width: 90%;
    min-height: 200px;
    margin: 0 auto;
}

.container-inner {
    width: 100%;
}

.header-container {
    margin-top: 10px;
    text-align: center;
}

.content-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.content {
    width: 40%;
    height: 200px;
    margin-top: 20px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}
.white-content {
    background-color: whitesmoke;
}
.green-content {
    background-color: #a8fdcd;
}

.yellow-content {
    background-color: lightsalmon;
}

.blue-content {
    background-color: #adbde7;
}
