<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
</head>
<body>
<div id="app">
    <top-nav-bar-component title="首页"></top-nav-bar-component>

    <div class="container-outer">
        <div class="container-inner header-container">
            <section class="section-box">
                <h4>距离2022考研 倒计时：</h4>
                <h5 class="count"></h5>
            </section>
        </div>
        <div class="container-inner content-container" id="content-container">
        </div>
    </div>

    <bottom-nav-component selectedIndex="0"></bottom-nav-component>
</div>
<script src="index.js" type="module"></script>
</body>
</html>
