<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>university choose item</title>

    <link rel="stylesheet" href="index.css"/>
</head>
<body>
<div class="university-item--selected" id="university-item">
    <div class="item-content-wrapper">
        <a class="item-remove" href="#">
            <div class="item-remove-icon-wrapper">
                <img src="imgs/close-bold.png" height="10" width="10">
            </div>
        </a>
        <div class="item-content-img-wrapper">
            <img src="imgs/avatar.jpg" class="item-content-img">
        </div>
    </div>
    <p class="university-item__name">院校名</p>
</div>
<script src="index.js" type="javascript"></script>
</body>
</html>
