<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add University</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="/static/css/university.css">

    <link rel="stylesheet" href="/static/css/font.css">
    <link rel="stylesheet" href="/static/css/xadmin.css">
    <script src="/static/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/js/xadmin.js"></script>
    <script src="https://cdn.bootcss.com/vue/2.5.16/vue.min.js"></script>
</head>
<body>
<div class="x-body">
    <form class="layui-form" id="add-university-form">
        <!--表单内容区域-->
        <div class="layui-inline">
            <label class="layui-form-label">院校ID</label>
            <div class="layui-input-inline" style="width: 100px;">
                <input type="text" name="id" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">院校名</label>
            <div class="layui-input-block">
                <input type="text" name="name" required lay-verify="required" placeholder="请输入院校名称" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">排名</label>
            <div class="layui-input-block">
                <input type="text" name="rank" required lay-verify="required" placeholder="请输入综合排名"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">LOGO地址</label>
            <div class="layui-input-block">
                <input type="text" name="iconPath" required lay-verify="required" placeholder="请输入院校Logo地址"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">官方网址</label>
            <div class="layui-input-block">
                <input type="text" name="officialUrl" required lay-verify="required" placeholder="请输入院校官方网址"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">复选框</label>
            <div class="layui-input-block">
                <input type="checkbox" name="isYJSY" title="是否是研究生院" value="1" checked>
                <input type="checkbox" name="isZHX" title="是否是自划线" value="1">
                <input type="checkbox" name="isJBW" title="是否是985院校" value="1">
                <input type="checkbox" name="isEYY" title="是否是211院校" value="1">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">位置信息</label>
            <div class="layui-input-inline" style="width: 100px;">
                <input type="text" name="locationId" placeholder="位置ID°" autocomplete="off" class="layui-input">
            </div>
            -
            <div class="layui-input-inline" style="width: 100px;">
                <input type="text" name="longitude" placeholder="经度°" autocomplete="off" class="layui-input">
            </div>
            -
            <div class="layui-input-inline" style="width: 100px;">
                <input type="text" name="latitude" placeholder="纬度°" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">所属城市</label>
            <div class="layui-input-block">
                <!--发送网络请求,动态渲染-->
                <select id="cityList" name="cityId" lay-verify="required">
                    <option value="3">北京</option>
                    <option value="4">广州</option>
                    <option value="2">成都</option>
                    <option value="1">杭州</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formDemo" @click="addOneUniversity">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>
<script>
    window.onload = function () {

        let formElement = document.querySelector("form");

        formElement.addEventListener("submit", evt => {
            evt.preventDefault();

            const formData = new FormData(formElement);
            let data = {};
            formData.forEach((value, key) => data[key] = value);

            console.log(data);

            const url = "/api/v2.1/university/one";
            fetch(url, {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            }).then(resp => {
                console.log(resp.json())
            });
        })


        let cityListDom = formElement.querySelector("#cityList");
        fetch("/api/v2.1/city/list")
            .then(resp => {
                return resp.json();
            })
            .then(json => {
                return json.data;
            })
            .then(data => {
                for (let item of data) {
                    let newOption = document.createElement("option");
                    newOption.value = item.id;
                    newOption.textContent = item.name;
                    cityListDom.appendChild(newOption);
                }
            })
    }
</script>
</body>
</html>
