<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>选择专业</title>
    <link rel="stylesheet" href="index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<!--顶部导航栏-->
<top-nav-bar-component title="选择专业"></top-nav-bar-component>
<div id="app">
    <div class="list-wrapper content-container list-outer">
        <div class="list-inner">
            <!--<ol class="major-list" id="major-list">
                <li>
                    <details>
                        <summary class="city-summary">
                            <span>哲学</span>
                            <i>2</i>
                        </summary>
                        <ol class="university-list">
                            <li>马克思主义哲学</li>
                            <li>北京师范大学</li>
                        </ol>
                    </details>
                    <details>
                        <summary class="city-summary">
                            <span>经济学</span>
                            <i>3</i>
                        </summary>
                        <ol class="university-list">
                            <li>理论经济学</li>
                            <li>应用经济学</li>
                            <li>统计学</li>
                        </ol>
                    </details>
                    <details>
                        <summary class="city-summary">
                            <span>法学</span>
                            <i>6</i>
                        </summary>
                        <ol class="university-list">
                            <li>法学</li>
                            <li>政治学</li>
                            <li>社会学</li>
                            <li>民族学</li>
                            <li>马克思主义理论</li>
                            <li>公安学</li>
                        </ol>
                    </details>
                    <details>
                        <summary class="city-summary">
                            <span>工学</span>
                            <i>4</i>
                        </summary>
                        <ol class="university-list">
                            <li>计算机科学与技术</li>
                            <li>软件工程</li>
                            <li>人工智能</li>
                            <li>信息安全</li>
                        </ol>
                    </details>
                </li>
            </ol>-->
            <ol class="major-list" id="major-list">

            </ol>
        </div>
    </div>
</div>
</body>
<script src="index.js" type="module"></script>
</html>
