<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>选择专业</title>
    <link rel="stylesheet" href="index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<!--顶部导航栏-->
<top-nav-bar-component title="选择专业"></top-nav-bar-component>
<div id="app">
    <div class="list-wrapper content-container list-outer">
        <div class="list-inner">
            <ol class="major-list" id="major-list">
                <li>
                    <details>
                        <summary class="city-summary">
                            <span>哲学</span>
                            <i>4</i>
                        </summary>
                        <ol class="university-list">
                            <li>马克思主义哲学</li>
                            <li>北京师范大学</li>
                        </ol>
                    </details>
                </li>
            </ol>
        </div>
    </div>
</div>
</body>
<script src="index.js" type="module"></script>
</html>
